.flw-simple-pay-now-form button {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #0a2740;
  border: 1px solid #142a3e;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin: 0 0 6px;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.flw-simple-pay-now-form button:hover {
  background-color: #3d5a73;
}

.flw-simple-pay-now-form button:active {
  background-color: #0a2740;
}

.flw-form-select {
    display: block;
    /* width: 100%; */
    background: #f2f2f2;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.flw-simple-pay-now-form input {
  border: 1px solid #777;
  border-color: #142a3e;
  border-radius: 4px;
  color: #777;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin: 0 0 6px;
  outline: none;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
}

.flw-simple-pay-now-form label {
  display: block;
  font-size: 15px;
  margin-bottom: 0;
}

.failed {
  color: #a00;
  font-size: 1.5em;
}

.successful {
  color: #0a0;
  font-size: 1.5em;
}
